body {
    background-color: #ffffff;
    color: #666666;
    font-family: Verdana, sans-serif;
}

header {
    color: #ffffff;
    background-color: #002171;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    color: #bbdefb;
    font-weight: 700;
}

h1 {
    line-height: 200%;
}

h2 {
    color: #1976d2;
    font-family: 'Times New Roman', Times, serif;
}

dt {
    color: #002171;
    font-weight: 600;
}

footer {
    font-size: .07em;
    font-style: italic;
    text-align: center;
}

#wrapper {
    width: 80%;
    background-color: #f0f0f0;
    margin: 0 auto;
}

.resort {
    color: #1976d2;
    font-size: 1.2em;
}